
.bg-black {
	background-color: $darken-black; 
}

.bg-blue {
	background-color: $light-blue;
}

.bg-white {
	background-color: $light-white;
}

.clr-black {
	color: $black;
}

.clr-white {
	color: $light-white;
}

.gradient {
	background: linear-gradient(135deg, #1e5799 0%,#1f42db 5%,#5f85ed 56%,#aa74ff 64%,#aa74ff 98%);
}

.breadcrumb {
 	margin: 0 0 44px;

 	ul {
 		@extend %listreset;

		margin: 0 -10px;

		li {
			font-size: 15px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
			position: relative;

			&:last-child {

				&:before {
					display: none;
				}
			}

			&:before {
				content: '/';
				position: absolute;
				right: -6px;
				top: 0;
			}

			&.disabled {
				background-color: $orange;
				color: $white;
				border-radius: 20px;
				padding: 0 10px;
			}

			a {
				color: $black;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

.example-section {
	color: #f9fafb; 
	padding: 20px 0;

	@include media('>=phone') {
		padding: 40px 0;
	}

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 80px 0;
	}

	@include media('>=widescreen') {
		padding: 130px 0;
	}

	.img-holder {
		text-align: center;
	}

	span {
		display: block;
		color: #f9fafb;
		max-width: 780px;
		margin: 0 auto;
		margin-bottom: 15px;

		@include media('>=phone') {
			margin-bottom: 40px;
		}

		@include media('>=tablet') {
			margin-bottom: 70px;
		}
	}
}


// .general-text-block {
// 	max-width: 780px;

// 	h1 {
// 		small {
// 			font-size: 14px;
// 			line-height: 1.1428571;
// 			display: inline-block;
// 			vertical-align: middle;
// 		}
// 	}
// }

.img-lg {
	img {
		margin-bottom: 10px;
	}

	@include media('>=tablet') {
		img {
			margin-bottom: 0;
		}

		img {
			max-width: 46%;

			&:nth-child(odd) {
				margin: 0 15px 30px 0;
			}

			&:nth-child(even) {
				margin: 0 0 30px 15px;
			}
		}
	}

	@include media('>=widescreen') {
		img {
			max-width: 100%;
		}	
	}
}

.img-xl {
	margin: 0 0 10px;

	@include media('>=phone') {
		margin: 0 0 40px;
	}

	@include media('>=tablet') {
		margin: 0 0 70px;
	}
}

.img-xs {
	margin: 0 0 10px;
}	

.img-md {
	img {
		margin: 0 0 10px;
	}

	@include media('>=tablet') {
		img {
			margin: 0 0 30px;	
		}
	}

	@include media('>=desktop') {
		margin: 0;

		img {
			max-width: 46%;

			&:nth-child(odd) {
				margin: 0 15px 15px 0;
			}

			&:nth-child(even) {
				margin: 0 0 15px 15px;
			}
		}	
	}
}


.hero-section {
	.text-holder {
		.hero-text {
			padding: 175px 0 90px;

			h1 {
				margin-bottom: 50px;
			}
		}
	}
}

.contact-section {
	.contact-holder {
		padding: 20px 0;

		@include media('>=phone') {
			padding: 40px 0;
		}

		@include media('>=tablet') {
			padding: 60px 0;
			max-width: 810px;
			margin: 0 auto;
		}

		@include media('>=desktop') {
			padding: 80px 0;
		}

		@include media('>=widescreen') {
			padding: 120px 0;
		}

		h2 {
			margin-bottom: 25px;

			@include media('>=tablet') {
				margin-bottom: 45px;
			}

			small {
		    	font-size: 16px;
				color: #646262;
				font-weight: 300;
				letter-spacing: 0;
				margin-left: 34px;
			}
		}

		p {
			margin: 0;
		}

		.contact-us {
			@extend %listreset;

			margin: 0 10px ;
			text-align: center;

			@include media('>=phone') {
				text-align: left;
				margin: 0 -25px 25px;
			}

			@include media('>=tablet') {
				margin: 0 -50px 25px;
			}

			@include media('>=desktop') {
				margin: 0 -110px 50px;
			}
			
			li {
				margin: 0 0 5px;

				@include media('>=phone') {
					display: inline-block;
					vertical-align: top;
					margin: 0;
					padding: 0 25px;
				}

				@include media('>=tablet') {
					padding: 0 50px;
					font-size: 24px;
					line-height: 1.0833333;
				}

				@include media('>=desktop') {
					padding: 0 110px;
				}

				a {
					color: $black;

					&:hover {
						color: $orange;
					}
				}
			}
		}

		.social-links {
			@extend %listreset;

			text-align: center;
			margin: 0 -5px;

			@include media('>=phone') {
				text-align: left;
				margin: 0 -10px;
			}	

			li {
				display: inline-block;
				vertical-align: top;
				padding: 0 5px;

				@include media('>=phone') {
					padding: 0 10px;
				}

				a {
					display: block;
					margin: 0 auto;
					position: relative;
					color: $black;
					border-radius: 50%;
					background-color: $light-orange;
					width:30px;
					height: 30px;

					&:hover {
						background-color: $orange;

						i {
							color: $light-orange;
						}
					}

					i {
						color: $orange;
						position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
}

.our-services-section {
	padding: 20px 0;

	@include media('>=phone') {
		padding: 45px 0;
	}

	@include media('>=desktop') {
			overflow: hidden;
		}

	.our-services-holder {

		@include media('>=desktop') {
			float: left;
			max-width: 600px;
		}

		h3 {
			margin: 0 0 15px;
			
			@include media('>=phone') {
				margin: 0 0 20px;
			}
		}

		p {
			margin: 0 0 15px;

			@include media('>=phone') {
				margin: 0 0 20px;
			}
		}
	}

	.btn-holder {
		
		@include media('>=desktop') {
			padding: 35px 0 0;
			float: right;
		}

		.btn {
			display: block;
			padding: 10px 15px;
			margin: 0 auto;
			max-width: 100%;

			@include media('>=phone') {
				max-width: 0;
				min-width: 260px;
			}
		}
	}
}










