@media (min-width: 480px) {
	.title-block {
		margin: 0 -17px 40px;
		font-size: 16px;
		line-height: 1.125;	

		h2 {
			font-size: 26px;
      		line-height: 1.076923;
		}
	}

	.visual-holder {
		.main-title {
			margin: 0 auto;
		}
	}

	.slick-dots {
		bottom: -25px;
	}

	.capsule-section {
		img {	
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}

		.col-holder {
			display: inline-block;
			vertical-align: middle;

			.col {
				ul {
					li {
						&:first-child {
							font-size: 60px;
							line-height: 1.033333;
						}	
					}
				}
			}			
		}
	}

	.fetures-section {
		.col-holder {
			.col {
				h3 {
					font-size: 20px;
					line-height: 1.2;
				}
			}
		}
	}	

	.ingredient-section {
		.ingredient-holder {
			.ingredient-btn {
				.btn {
					width: auto;
					min-width: 400px;
				}
			}	
		}
	}

	table {
		width: 440px;		
	}

	.sertification-section {
		ul {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
			}
		}	

	.subscribe-section {
		padding: 55px 0;
		
		.title-block {

			h2 {
				font-size: 26px;
				line-height: 1.076923;
			}
		}

		.form {
			input {
				max-width: 250px;
				outline: 0;
				border: 0;
				padding: 12.5px 30px;
				border-radius: 50px 0 0 50px;
				margin-bottom: 20px;
			}

			.btn {
				margin-left: -4px;
				border: 0;
				border-radius: 0 50px 50px 0;
				font-family: 'Lato Bold', sans-serif;
				padding: 10px;
				width: auto;
			}
		}
	}

	#footer { 
		.col-holder { 
			ul {
				li {
					padding: 0 30px;
				}
			}
		}		 
    }

    .btn {
      display: inline-block;
      vertical-align: top;
      padding: 15px;
      min-width: 173px;
    }	
}

@media (min-width: 768px) {

	table {
		tr {
			&:nth-child(2) {
				th{
					font-size: 16px;
					line-height: 1.125;
				}
			}

			th {
				font-size: 24px;
				line-height: 1.083333;

				&:nth-child(2) {
					font-size: 16px;
					line-height: 1.125;
				}
			}

			td {
				color: #333740;
				font-family: 'Lato Light', sans-serif;
				border-bottom: 1px solid #ebebeb;
				padding: 15px 0;
			}
		}	
	}	

	.title-block {
		margin: 0 -17px 60px;

		h2 {
			font-size: 30px;
      		line-height: 1.0666666;
		}
	}

	.logo {
		position: relative;
	    float: left;
	    z-index: 9999;
	}

	.visual-section {
		background-position: 100% 47%;
		min-height: 530px;
	}

	.visual-holder {
		padding: 120px 0 0;

		.main-title {
			float: left;
			max-width: 52%;
			padding: 65px 0 0;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 98px;
				width: 5px;
				height: 65px;
				transform:translateY(-50%);
				background-color: #18a3dd; 
			}
		}

		img {
			float: right;
			display: block;
			max-width: 48%;
			height: auto;
				/*width: 342px;
				height: 330px;*/
		}
	}

	.capsule-section {
		background-color: #21172b;
		position: relative;
		padding: 75px 0 75px 200px;

			img {
				position: absolute;
				display: block;
				left: 5px;
				top: -70px;
				max-width: 33%;
				height: auto;
			}
	
		.col-holder {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items:flex-start;

			.col {
				margin: 0 0 10px;
				padding: 0 35px;
				max-width: none;
			
				ul {
				
					li {
						
						&:first-child {
							font-size: 45px;
							line-height: 1.05;
						}
					}	
				}
			}
		}
	}

	.fetures-section {
		padding-top: 115px;
	}

	.results-section {
		padding: 40px 0;
	
		.sliders {
			margin: 0 auto;
			max-width: 800px;
			max-height: 400px;
		}

		.col-slider {
			position: relative;
			
			.col-img {
				position: static;
				display: inline-block;
				vertical-align: middle;
				/*margin-right: 25px;*/

				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}

			.col-text {
				position: static;
				display: inline-block;
				vertical-align: middle;

				ul {
					li {
						span {
							color: #333740;
						}
					}

					&:nth-child(2) {
						li {
							color: #18a3dd;
						}
					}	

					&:last-child  {
						li {
							color: #333740;
						}
					}		
				}		
			}	
		} 
	}

	.clients-section {
		padding: 85px 0;

		.title-block {
			margin-bottom: 50px;
		}

		.clients-sliders {
			.slick-dots {
				bottom: -50px;
			}
		}		
	}

	.ingredient-section {
		background-color: #fafcfc;
		padding: 40px 0;

		.ingredient-holder {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			.ingredient-table {
				text-align: center;
				margin: 0 15px 15px 0;
			}		
		}
	}	

	.subscribe-section {
		padding: 75px 0;

		.form {
			input {
				max-width: 380px;
				outline: 0;
				border: 0;
				padding: 12.5px 30px;
				border-radius: 50px 0 0 50px;
				margin-bottom: 20px;
			}

			.btn {
				margin-left: -4px;
				border: 0;
				border-radius: 0 50px 50px 0;
				font-family: 'Lato Bold', sans-serif;
				padding: 10px;
			}
		}
	}

	.form-section {
		padding: 80px 0;

		.form {
			.textarea-holder {
	 			margin-bottom: 30px;
	 		}	

			.btn {
				width: auto;
				min-width: 175px;
			}
		}
	}	

	#footer {
		span {
			text-align: left;
		}

	.col-holder {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		ul {
			margin-bottom: 0;

			li {
				&:first-child {
					padding-left: 4px;
				}
			}	
		}		
	}			
}

@media (min-width: 1024px) {
	.visual-section {
		background-position: 100% 54%;
		min-height: 750px;
	}

	.visual-holder {
		padding: 150px 0 0;

		.main-title {
			float: left;
			color: #b5b6b6;
			max-width: 50%;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 122px;
				width: 5px;
				height: 95px;
				transform:translateY(-50%);
				background-color: #18a3dd; 
			}


			h1 {
				font-size: 72px;
				line-height: 1.0322580;
			}

			h3 {
				margin: 0 0 70px 30px;
			}
		}

		img {
			float: right;
			display: block;
			max-width: 50%;
			height: auto;
		}

	}

	.capsule-section {
		background-color: #21172b;
		position: relative;
		padding: 105px 0 105px 300px;

		img {
			position: absolute;
			display: block;
			left: 5px;
			top: -120px;
			max-width: 100%;
			height: auto;
		}

		.col-holder {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items:center;


			.col {
				margin: 0 0 10px;
				padding: 0 45px;
			
				ul {
				
					li {
						
						&:first-child {
							font-size: 65px;
							line-height: 1.0307692;
						}
					}	
				}
			}
		}
	}

	.clients-section {
		padding: 95px 0;

		.title-block {
			margin-bottom: 70px;
		}
	}

	.results-section {
		.col-slider {
			.col-img {
				margin-right: 25px;
			}
		
			.col-text {
				
				ul {
					li {
						font-size: 16px;
						line-height: 1.125;
						margin: 0 25px 25px 0;

						span {
							font-size: 40px;
							line-height: 1.05;
							color: #333740;
							font-family: 'Lato Bold', sans-serif;
							margin-right: 5px;
						}
					}
				}
			}
		}	
	}			


	.slick-prev,
	.slick-next {
		z-index: 1001;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 2px solid #c6cfd2;	
		
		&:before {
				font-size: 26px;
				line-height: 1.0769230;
				color: #c6cfd2;
            } 

		&:hover {
            &:before {
				color: #18a3dd;
            }   
		}	
	}	

	.slick-prev {
		left:-100px;
	}

	.slick-next {
		right:-75px;
	}

	.sertification-section {
		padding: 75px 0;

		ul {
				img {
					transition: .3s;
					margin-bottom: 0;
				}
			}
		}	
	}

	.supplement-section {
		padding-top: 115px;
		min-height: 400px;
		background-repeat: no-repeat;
		background-position: 0% 75%;	
	}
}

@media (min-width: 1200px) {
	.visual-section {
		background-position: 100% 50%;
	}

	.capsule-section {
		background-color: #21172b;
		position: relative;
		padding: 105px 0 105px 470px;

		.img-header {
			position: absolute;
			display: block;
			left: 23px;
			top: -120px;
		}

		.col-holder {
			display: flex;
			flex-direction:row;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 0  -65px;

			.col {
				margin: 0 0 10px;
				padding: 0 65px;
			
				ul {
				
					li {
						
						&:first-child {
							font-size: 72px;
							line-height: 1.02777777;
						}
					}	
				}
			}
		}
	}
	.fetures-section {
		.col-holder {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			.col {
				max-width: 350px;
				text-align: right;
				color: #5b5f64;

				&:last-child {
					text-align: left;

					h3 {
						text-align: left;
						padding-left: 26px;

						&:after {
							content:'';
							position: absolute;
							top: 0;
							left: 0;
							width: 5px;
							height: 35px;
							border-radius: 25px;
							background-color: #18a3dd;
						}
					}
				}

				h3 {
					position: relative;
					margin: 0 0 35px;
					padding-right: 26px;
					color: #333740;
					font-size: 20px;
					line-height: 1.2;
					font-family: 'Raleway Bold', sans-serif;
					text-align: right;
					text-transform: uppercase;

					&:after {
						content:'';
						position: absolute;
						top: 0;
						right: 0;
						width: 5px;
						height: 35px;
						border-radius: 25px;
						background-color: #18a3dd;
					}
				}

				p {
					margin: 0 0 90px;
				}

				img {
					margin-bottom: 0;
				}
			}
		}
	}

	.results-section {
		padding: 115px 0;
	}

	.slick-dots {
		bottom: -55px;
	}

	.clients-section {
		padding: 115px 0;
	}

	.ingredient-section {
		padding: 115px 0;

		.ingredient-holder {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.hex-holder {
				max-width: 360px;
				color: #979898;
				margin-left: 95px;
			}
		}
	}

	.subscribe-section {
        padding: 105px 0;
    }

}  





/*

.capsule-section {
	background-color: #21172b;
	position: relative;
	padding: 25px 0;

	.img-header {
		text-align: center;
		img {
			max-width: 60%;
		}
	}

	.col-holder {
		display: flex;
		flex-direction:column;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items:center;

		.col {
			margin: 0 0 10px;
			padding: 0 65px;
			
			ul {
				@extend %list-reset;	
			
				li {
					position: relative;
					display: block;
					font-family:'Lato Bold', sans-serif;
					color: #18a3dd;
					text-transform: uppercase;
					margin-bottom: 10px;

					&:first-child {
						margin: 0 0 20px;
						padding-left: 20px;
						font-size: 40px;
						line-height: 1.05;
						font-family: 'Lato Black', sans-serif;
						color: #fff;

						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 10px;
							bottom: 5px;
							width: 5px;
							border-radius: 25px;
							background-color: #18a3dd; 
						}
					}

					&:last-child {
						font-family: 'Lato Light', sans-serif;
						color: #716d75;
						text-transform: none;
					}
				}	
			}
		}
	}
}



*/

